<div class="card" style="width: 24rem;">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
        <h5 class="card-title">Uzmanlık Alanları</h5>
        <p class="card-text">Doktorlar için uzmanlık alanlarını bu alandan ekleyebilir veya silebilirsiniz.</p>
        <a href="/Default/GetSpecialization" class="btn btn-primary">Uzmanlık Alanlarını Düzenle</a>
    </div>
</div>